<!DOCTYPE html>
<form class="wrapper" ng-submit="signupSubmit()" method="post">

    <label class="col-xs-2 col-form-label">User name</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" ng-model="username" placeholder="username" required>
    </div>
    <label class="col-xs-2 col-form-label">Email</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" ng-model="email" placeholder="email" required>
    </div>

    <label class="col-xs-2 col-form-label">Password</label>
    <div class="col-xs-10">
      <input class="form-control" type="password" ng-model="password" placeholder="password" required>
    </div>

    <label class="col-xs-2 col-form-label">Confirm Password</label>
    <div class="col-xs-10">
      <input class="form-control" type="password" ng-model="confirmPassword" placeholder="confirmpassword" required>
    </div>

    <label class="col-xs-2 col-form-label">First name</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" ng-model="firstName" placeholder="first name" required>
    </div>

    <label class="col-xs-2 col-form-label">Last name</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" ng-model="lastName" placeholder="last name" required>
    </div>

  <div class="col-xs-2">
  </div>
    <div class="col-xs-10">
      <button type="submit">Submit</button>
    </div>
</form>

<div ng-show="formError">
  {{errorMessage}}
</div>
